@use '../styles/theme';

:local(.toolbar) {
  //height: 73px;
  display: flex;
  padding: 12px;
  //background-color: theme.$background1-color;
  //border-top: 1px solid theme.$border1-color;

  justify-content: space-between;
  @media (min-width: theme.$breakpoint-lg) {
    padding: 12px 24px;
    justify-content: space-between;
  }
}

:local(.content) {
  display: flex;
  flex: 1;
  justify-content: space-around;

  @media (max-width: theme.$breakpoint-lg) {
    & > * {
      margin: 0 4px;
    }
  }

  @media (min-width: theme.$breakpoint-lg) {
    flex: 0;

    & > * {
      margin: 0 12px;
    }

    //&:last-child {
    //  margin-right: 0px;
    //}
  }
}

:local(.center-content-inner) {
  display: flex;
  align-items: center;
  padding: 10px 100px;
  background-color: theme.$background1-color;
  border-radius: 9999px;
  box-shadow: 0 0 3px 3px theme.$border1-color;

  @media(max-width: theme.$breakpoint-sm) {
    padding: 10px;
  }
}
